.apropos {
    position: absolute;
    width:100%;
    background-color:#9185be;
    background-image: url('../../img/patternFestIt.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.apropos .icon-title {
    width:2rem;
    object-fit: contain;
    margin-bottom: 3rem;
}

.container {
    background-color: #f9b256;
    width:80vw;
    margin:auto;
    border-radius: 30px;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.title {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.aboutcard {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:80%;
    margin: auto;
    padding-bottom: 3rem;
}

.aboutcard h3 {
    color: #fff;
    padding-bottom: 1rem;
}

.apropos .icon-card {
    width:10vw;
    height: 8vh;
    object-fit: contain;
}

.cards {
    display:flex;
    align-items: baseline;
    justify-content: space-between;
}

.card {
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
}

.title-card {
    color:#fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}

.desc {
    margin:0 0.5rem;
    font-size: 0.9rem;
}

.lineup .icon-card {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
}


@media (max-width:770px) {
    .cards {
        flex-direction: column;
    }
    .card {
        width:90%;
        margin:auto;
        flex-direction:row;
        margin-bottom:2.5rem;
    }
    .text-card {
        text-align: left;
        width:60%;
        margin-left: 2rem;
        margin-top:0;
    }
    .desc {
        margin:0;
    }
    .apropos .icon-card {
        width: 8rem;
        height: 4rem;
    }
    .lineup .icon-card {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
    }
    .title-card {
        margin-top: 0;
    }
}

@media (max-width:600px) {
    .card {
        flex-direction: column;
        margin-bottom: 3.5rem;
    }
    .text-card {
        width:90%;
        text-align:center;
        margin-left: 0;;
    }
    .aboutcard {
        padding-bottom: 1rem;
    }
    .apropos .icon-card {
        margin-bottom: 1rem;
    }
}