.Artistlist {
    display: flex;
    justify-content: space-between;
    
}

.oneArtist-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 770px) {

    .oneArtist-container {
        display: flex;
        flex-direction: column;
    }
}

