@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.Footer {
    background-color: #9185be;
    display: flex;
    justify-content: space-between;
    
    
    
}

.footer-content1 {
    background-color: #f9b256;
    align-items: center;
    
    
    
    
} 
.footer-content2, .footer-content3 {
    text-align: left;
    margin-right: 150px;
    background-color: #9185be; 
    
    
}


.footer-input {

    border-radius: 20px;
    padding: 10px;
    outline: none;
    
}
.club-button {

    
    background-color: #f9b256;
    color: white;
    border-radius: 20px;
    appearance: none;
    height: 43px;
    cursor: pointer;
    padding-bottom: 40px;
    margin-left: -65px;
    outline: none;

}
.club-button:hover {
    color: #f9b256;
    background-color: #9185be;
    border-radius: 20px;
    transition: all 300ms;
    cursor: pointer;
}

img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}


.footer-logo {

padding: 50px;
width: 120px;
height: 120px;


  
}

.white-bar {

    width: 36px;
    height: 248px;
    background-color: white;
    margin-left: -80px;
}

@media screen and (max-width: 770px){

    .footer {

        display: flex;
        flex-direction: column ;
    }
    .footer-content2 {

        display: flex;
        flex-direction: column;
    }
    

    
    .footer-logo {
        display: none;
    }

}



