.accomodations h3 {
    margin: 0 ;
}
.partenariat {
    display: flex;
    align-items: center;
    height: 2rem;
    justify-content: center;
}

.partenariat img {
    width: 5rem;
    height: 2rem;
    object-fit: contain;
    margin-left: 0.7rem;
}

.partenariat h4 {
    font-weight: 500;
}

.accomodation {
    padding: 2rem 0 4rem 0;
}

.airbnb-bg {
    background-color:#FF5A5F;
    border-radius: 0 0 30px 30px;
}


/*slide*/
.accomodation-content {
    height: 70vh;
    width: 30vw;
    border-radius: 30px;
    background: #fff;
    margin: 0.7rem;
    display: inline-block;
    margin-bottom:2rem;
    margin-top: 2rem;
}
  
.accomodation-container {
    vertical-align: middle;
    display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
}
  
.accomodation-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
}
  
.accomodation-container::-webkit-scrollbar {
    height: 1rem;
}

.accomodation-container::-webkit-scrollbar-track {
    background: #9185be;
    border: 0.2rem solid transparent;
    border-radius: 10px;
    background-clip: content-box;
}

.desc-accomodation {
    color:#9185be;
    white-space: normal;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem;
}

.desc-accomodation p {
    font-size: 0.9rem;
    text-align: left;
    margin: 0 1rem 1rem;
}

.img-accomodation{
    height: 30vh;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
}

.info-accomodation {
    background-color: #9185be;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 30px 30px;
    padding: 1rem 0;
}

.info-accomodation p {
    margin:0;
    font-size:0.9rem;
}

.info-accomodation .number {
    font-size: 2rem;
}

.info-accomodation button {
    border:none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #9185be;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    z-index: 2;
}

.info-accomodation button:hover {
    color: #fff;
    background: #9185be;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}

.all-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-airbnb {
    display: flex;
    flex-direction: column;
}

.info-airbnb .list-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 1rem;
}

.km {
    display: flex;
    justify-content: center;
}

.place-available {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

@media (max-width:1040px) {
    .accomodation-content {
        width:37vw;
    }
}

@media (max-width:850px) {
    .accomodation-content {
        width:48vw;
    }
}

@media (max-width:700px) {
    .accomodation-content {
        width:90%;
    }
}


@media (max-width:500px) {
    .info-accomodation {
        flex-direction: column;
    }
    .place-available  {
        width: 100%;
        margin-bottom: 0.7rem;
    }
    .accomodation-content {
        height: 80vh;
    }
}