.coverflow__container__1P-xE {
    position: relative;
    background: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    outline: none;
}

.btn-coverflow {
    height: 50vh;
}

.icon-titre {
    width:1rem;
    height: 1rem;
    object-fit: contain;
}

.coverflow__arrowWrapper__3qbYP {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:before, #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:after {
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    content: '';
    display: block;
    width: 1.3rem;
    height: 2px;
    position: absolute;
    top: calc(50% - (2px / 2));
}

#coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:hover span, #coverflow__arrow1__2X2XF .coverflow__arrow__IDi7v:hover span {
    width: 2.5rem;
}

.coverflow__cover__25-7e {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    background: none;
}

.img-coverflow {
    height: 50vh;
}

.coverflow__figure__3bk_C {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    cursor: pointer;
    transition: transform 600ms ease;
    backface-visibility: hidden;
    z-index: 9;
    align-self: center;
    box-shadow: none;
    -webkit-box-reflect: unset;
    height: 100px;
}

.img-artist {
    background: blueviolet;
    width: 100%;
    height: 100px;
    position: absolute;
}

.artist-name {
    display: flex;
    padding: 0.5rem;
}


.artist-name .icon-titre, .artist-name h5 {
    z-index: 3;
}

.artist-name h5 {
    font-size: 0.6rem;
    margin: 0.5rem 0;
}


.coverflow__text__39hqd {  
    display: none;
}