.festival {
    background-image: url('../../img/geometric_pattern.png');
}

.description {
    display:flex;
    width:100%;
    margin-bottom: 2rem;
}

.containerimg {
    width:50%;
    height:auto;
    position: relative;
}
.festival .purpleop {
    border-radius: 30px 0 0;
    width: 100%;
    height: 100%;
    background: rgba(107, 92, 160, 0.6);
    position: absolute;
}

.festival .img-desc {
    width:100%;
    height: 100%;
    border-radius: 30px 0 0;
    object-fit: cover;
}

  .desccontent {
      width:50%;
  }

  .text-desc {
      display:flex;
      flex-direction: column;
      width:85%;
      margin: 1rem;
  }

  .text-desc .icon-title {
      margin-bottom: 0;
      width:3rem;
  }

  .title-desc {
      text-align: left;
      margin:0
  }

  .text-bloc {
      margin-left: 2rem;
  }

  .p-desc {
      text-align: left;
      font-size:0.9rem;
  }

  .icon-text  {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .icon-desc {
      width:1rem;
      height: 1.5rem;
      object-fit: contain;
  }

  .icon-text p {
      font-size: 0.9rem;
      margin-left:1rem;
      text-align: left;
  }

  .icons {
      width:100%
  }

  .button-ticket button {
      border:none;
      cursor: pointer;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
      background: #fff;
      border-radius: 30px;
      box-sizing: border-box;
      padding: 1rem 1.3rem;
      font-size: 1rem;
      font-weight: 500;
      color: #9185be;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      z-index: 2;
  }
  .button-ticket button:hover {
    color: #fff;
    background: #9185be;
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

@media (max-width: 790px){
    .description {
        flex-direction: column;
    }
    .containerimg {
        width:100% !important;
        height: 40vh !important;
    }
    .festival .purpleop, .festival .img-desc {
        border-radius: 30px 30px 0 0;
    }
    .desccontent {
        width:100% !important;
    }
    .text-desc {
        margin: 1rem auto !important;
    }
    .coverflow__figure__3bk_C {
        width:30vh
    }
    .coverflow__container__1P-xE {
        margin: 1rem auto !important;
    }
}