.Panier {
    width:100%;
    background-color:#9185be;
    background-image: url('../../img/confetti-01.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.Panier .icon-title {
    width:2rem;
    object-fit: contain;
    margin-bottom: 3rem;
}

.container {
    background-color: #f9b256;
    width:80vw;
    margin:auto;
    border-radius: 30px;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.title {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

